<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Page Pulse</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <h1>Page Pulse</h1>

        <p class="subtitle">
            Analyze any webpage instantly
        </p>


        <div class="input-box">

            <input 
                id="urlInput"
                type="text"
                placeholder="Enter website URL"
            >

            <button id="analyzeBtn">
                Analyze
            </button>

        </div>


        <div id="result"></div>


    </div>


    <footer>
    <a href="https://digitalheroesco.com" target="_blank">
        Built for Digital Heroes Training Task
    </a>
</footer>


    <script src="/static/script.js"></script>

</body>

</html>